body {
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme .navbar {
    background-color: #444;
}

.dark-theme .btn-primary {
    background-color: #555;
    border-color: #666;
}

footer {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
}

footer p {
    margin: 0;
}

.dark-theme footer {
    background-color: #000; /* Fundo preto no modo escuro */
    color: #fff; /* Texto branco no modo escuro */
}
